.MarkdownEditor {
   	height: 500px;
    margin: 10px;
    padding-left: 150px;
    padding-right: 150px;
    border: 1px solid gray;
    border-radius: 15px;
    text-align: center;
    background: #f0f0f0f0;
}
.MarkdownTitle {
	font-size: 30px;
	font-weight: bolder;
	color: gray;
}
.MarkdownLeft {
	float: left;
}
.MarkdownLeftTitle {
	font-size: 20px;
}
.MarkdownTextarea, .MarkdownContent{
	width: 500px;
	height: 200px;
	font-size: 15px;
	border-radius: 15px;
	border: gray 5px solid;
	padding: 10px;
	margin-right: 20px;
	outline: none;
}
.MarkdownRight {
	float: right;
}